.villain-modal {
  width: 100%;
}

.villain-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}

.villain-image-container {
  max-height: 70%;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
}

.villain-image-container::-webkit-scrollbar {
  display: none;
}

.villain-image {
  margin: 0 5% 0 5%;
  height: 100%;
  object-fit: contain;
}

.villain-button-close {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.current-max-health {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  margin: 15px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.active-villain-selected {
  filter: brightness(60%);
  height: 70%;
  margin-top: 8%;
}
