.villain-life-tracker-container {
  max-height: 80%;
  width: 40%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  border: solid 5px var(--life-background-color);
}

.villain-image-container {
  max-height: 80%;
  margin-bottom: 20px;
}

.villain-image {
  max-width: 100%;
  height: 100%;
}

.villain-life-tracker-content {
  width: 90%;
}

.villain-life-tracker-current-health-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 100%;
  border-radius: 70px;
  border: solid 5px var(--life-background-color);
}

.villain-life-tracker-currenthealth {
  // width: 100%;
  font-size: 150px;
  display: flex;
  margin: 10px;
}

@media screen and (max-height: 750px) {
  .villain-life-tracker-currenthealth {
    font-size: 60px;
  }
  .villain-life-tracker-container {
    max-height: 80%;
  }
}

@media screen and (max-height: 650px) {
  .villain-life-tracker-currenthealth {
    font-size: 40px;
  }
  .scheme-threat-tracker-container {
    max-height: 80%;
  }
}

.villain-life-tracker-decreasehealth {
  width: 90px;
  height: auto;
  border-radius: 15px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.villain-life-tracker-increasehealth {
  width: 90px;
  height: auto;
  border-radius: 15px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
