.victory-modal {
  display: flex;
  flex-direction: column;
}

.victory-message {
  font-size: 100px;
  color: red;
}

.modal-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  font-size: larger;
  margin: 10px;
  padding: 10px 20px;
  border: solid black 2px;
  border-radius: 10px;
}
